* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
  background-color: hsl(216, 50%, 16%);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 520px;
  width: 300px;
}

.equilibrium-image {
  border-radius: 5px;
  width: 250px;
}

.equilibrium-image:hover {
  opacity: 0.5;
  content: url('./images/icon-view.svg');
  background-color: hsl(178, 100%, 50%);
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 250px;
}

.cripto-name {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-decoration: none;
}

.cripto-name:hover {
  color: hsl(178, 100%, 50%);
}

.description {
  font-size: 15px;
  font-weight: 300;
}

.balance-timer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.balance {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.line {
  margin-top: 20px;
}
  
.creator {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.image-avatar {
  border: 2px solid white;
  border-radius: 100%;
  width: 40px;
  margin-right: 10px;
}

.creator-link {
  color: white;
  text-decoration: none;
}

.creator-link:hover {
  color:hsl(178, 100%, 50%)
}